h1 {
    color:aqua;
}
    body{
        background-color:#6e1777;
    }

.header{
    background-color: rgb(161, 127, 255);
    display: flex;
    justify-content:space-between ;
}
.grid{
    display:flex;
    justify-content:space-evenly ;
    flex-wrap: wrap;
}
.footer{
    display:flex;
    justify-content: flex-end;
}
.PARA{
    font-size: xx-large;
}